services:
  frontend:
    build: ./frontend
    image: ${DOCKERHUB_USERNAME}/devops-frontend:latest
    ports:
      - "57002:3000"
    networks:
      - frontend_net
    environment:
      - NEXT_PUBLIC_API_URL=/api
    depends_on:
      - backend

  backend:
    build: ./backend
    image: ${DOCKERHUB_USERNAME}/devops-backend:latest
    expose:
      - "5000"
    networks:
      - frontend_net
      - backend_net
    environment:
      - FLASK_ENV=production

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - backend_net

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    networks:
      - backend_net
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

networks:
  frontend_net:
  backend_net:
    internal: true
