---
- name: Setup VPS with Docker, Nginx, and SSL
  hosts: all
  become: yes
  vars:
    frontend_port: 57002

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - docker.io
          - docker-compose
          - nginx
          - certbot
          - python3-certbot-nginx
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Start and enable Nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Deploy Nginx configuration
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/sites-available/default
      notify: Restart Nginx

    - name: Obtain SSL certificate
      command: certbot --nginx -d {{ domain_name }} -d www.{{ domain_name }} --non-interactive --agree-tos -m admin@{{ domain_name }}
      ignore_errors: yes

  handlers:
    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
